body {
    background-color: #000;
    color: white;
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1 {
    font-size: 32px;
    margin-bottom: 10px;
    color: #ffffff;
}

.panell {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin: 30px ;
}

.fila {
    display: flex;
    gap: 15px;
}

button {
    width: 90px;
    height: 90px;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s;
}

.red { background-color: #FF5252; }
.green { background-color: #4CAF50; }
.blue { background-color: #4285F4; }
.orange { background-color: #FF9800; }
.yellow { background-color: #FFEB3B; }
.black { background-color: #424242; }
.violet { background-color: #9C27B0; }
.pink { background-color: #f190b1; }

#boto, #render, #repetir {
    background-color: #1e1e1e;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    border: 1px;
    border-radius: 6px;
    margin: 10px 5px;
}

#repeticions {
    margin-top: 5px;
    font-size: 14px;
    color: #bbbbbb;
    font-style: italic;
}

#maximaRonda {
    margin-top: 5px;
    font-size: 14px;
    color: #bbbbbb;
    font-style: italic;
}

.ronda {
    width: 90px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
}
